<!DOCTYPE HTML>
<html>
	<head>
		<title>Latest Punjabi Songs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'main' %>
	</head>
	<body>
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Home of Latest punjabi songs</h1>
							<p>Get all the latest punjabi songs here<br />
							including the upcoming stars</p>
						</header>
						<a href="#main" class="button big alt scrolly">CLICK ME</a>
					</div>

				</section>

		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>Choose from different filters</h2>
							<p>More filters coming soon</p>
						</header>
						<!-- 2 Column Video Section -->
							<div class="flex flex-2">
								<div class="video col">
									<div class="image fit">
                    <iframe width="560" height="315" src='https://www.youtube.com/embed/-_bV1nEPkzs?rel=0&autoplay=0' allowfullscreen></iframe>
									</div>
									<p class="caption">
										Latest Punjabi
									</p>
								</div>
								<div class="video col">
									<div class="image fit">
                    <iframe width="560" height="315" src='https://www.youtube.com/embed/HmzKPnXlsiM?rel=0&autoplay=0' allowfullscreen></iframe>
									</div>
									<p class="caption">
										Old is Gold
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			<!-- Two -->
				<section class="wrapper style2">
					<div class="inner">
						<header>
							<h2>Etiam veroeros lorem</h2>
							<p>Fusce fringilla enim sit amet lectus sollicitudin, eu tincidunt odio semper.</p>
						</header>
						<!-- Tabbed Video Section -->
							<div class="flex flex-tabs">
								<ul class="tab-list">
									<li><a href="#" data-tab="tab-1" class="active">Duis vestibulum tellus</a></li>
									<li><a href="#" data-tab="tab-2">Quam tempus sodales ipsum</a></li>
									<li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li>
								</ul>
								<div class="tabs">

									<!-- Tab 1 -->
										<div class="tab tab-1 flex flex-3 active">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic01.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic02.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic03.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic04.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic05.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic06.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
										</div>

									<!-- Tab 2 -->
										<div class="tab tab-2 flex flex-3">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic06.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic05.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic04.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic03.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic02.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic01.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
										</div>

									<!-- Tab 3 -->
										<div class="tab tab-3 flex flex-3">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic03.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic02.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic01.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic06.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic05.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
                            <%= image_tag("pic04.jpg", :alt => "") %>
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="generic.html" class="link"><span>Click Me</span></a>
												</div>
										</div>

								</div>
							</div>
					</div>
				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>Aliquam ipsum purus dolor</h2>
							<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
                    <%= image_tag("pic09.jpg", :alt => "") %>
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Cras eget lacus sed mauris scelerisque tincidunt
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
                    <%= image_tag("pic10.jpg", :alt => "") %>
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Vivamus vulputate lacus non massa auctor lobortis
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
                    <%= image_tag("pic11.jpg", :alt => "") %>
                    <%= image_tag("pic11.jpg", :alt => "") %>
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Nam eu nisi non ante sodales interdum a vitae neque
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Vestibullum</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Lobortis</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Accumsan</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
      <%= javascript_include_tag('jquery.min.js') %>
      <%= javascript_include_tag('jquery.scrolly.min.js') %>
      <%= javascript_include_tag('skel.min.js') %>
      <%= javascript_include_tag('util.js') %>
      <%= javascript_include_tag('main.js') %>

	</body>
</html>
