<!DOCTYPE HTML>
<html>
  <head>
    <title>Latest Punjabi Songs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <!--
      To use a video as your background, set data-video to the name of your video without
      its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
      formats to work correctly.
    -->
    <section id="banner" data-video="images/banner">
      <div class="inner">
        <header>
          <h1>Home of Latest punjabi songs</h1>
          <p>Get all the latest punjabi songs here<br />
          including the upcoming stars</p>
        </header>
        <a href="#main" class="button big alt scrolly">CLICK ME</a>
      </div>

    </section>

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section class="wrapper style1">
        <div class="inner">
          <header class="align-center">
            <h2>Choose from different filters</h2>
            <p>More filters coming soon</p>
          </header>
          <!-- 2 Column Video Section -->
          <div class="flex flex-2">
            <div class="video col">
              <div class="image fit">
                <iframe width="560" height="315" src='https://www.youtube.com/embed/-_bV1nEPkzs?listType=search&list=latest+punjabi+songs' allowfullscreen></iframe>
              </div>
              <p class="caption">
              Latest Punjabi
              </p>
            </div>
            <div class="video col">
              <div class="image fit">
                <iframe width="560" height="315" src='https://www.youtube.com/embed/HmzKPnXlsiM?listType=search&list=kuldeep+manak+surinder+kaur' allowfullscreen></iframe>
              </div>
              <p class="caption">
              Old is Gold
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Two -->
      <section class="wrapper style2">
        <div class="inner">
          <header>
            <h2>The Chosen Ones</h2>
            <p>Curated list of top 6 punjabi songs</p>
          </header>
          <!-- Tabbed Video Section -->
          <div class="flex flex-tabs">
            <ul class="tab-list">
              <li><a href="#" data-tab="tab-1" class="active">Today's top 6</a></li>
              <li><a href="#" data-tab="tab-2">TOP 6 SAD songs all time</a></li>
              <li><a href="#" data-tab="tab-3">TOP 6 FUN songs all time</a></li>
            </ul>
            <div class="tabs">

              <!-- Tab 1 -->
              <div class="tab tab-1 flex flex-3 active">
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/9NXRYj_DUIA' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/G7RW-KVDeEo' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/3Kt5tobRNt0' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/y-PQiShdTKA' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/UCoogBnurWk' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/dZ0fwJojhrs' allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <!-- Tab 2 -->
              <div class="tab tab-2 flex flex-3">
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/W2CgzpJa48s' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/6yOKMTcIQkw' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/xMQ7etLSYho' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/ttfkacMIF8I' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/M9rzSspTbnQ' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/wks2qoNjzc0' allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <!-- Tab 3 -->
              <div class="tab tab-3 flex flex-3">
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/tGiJSnwBwDQ' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/ioWkx6WRH2I' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/DJztXj2GPfk' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/TkRalvayGLg' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/8FEg6O2Y8Vw' allowfullscreen></iframe>
                  </div>
                </div>
                <!-- Video Thumbnail -->
                <div class="video col">
                  <div class="image fit">
                    <iframe width="285" height="315" src='https://www.youtube.com/embed/SCBhB1ZNgm8' allowfullscreen></iframe>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <!-- Three -->
      <section class="wrapper ">
        <div class="inner">
          <header class="align-center">
            <h2>Top Punjabi Singers</h2>
            <p>List of all time GREATS</p>
          </header>

          <!-- 3 Column Video Section -->
          <div class="tab tab-1 flex flex-3 active">
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <iframe width="365" height="365" src='https://www.youtube.com/embed?listType=search&list=gurdas+maan' allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <iframe width="285" height="315" src='https://www.youtube.com/embed?listType=search&list=satinder+sartaj' allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <iframe width="285" height="315" src='https://www.youtube.com/embed?listType=search&list=diljit+dosanjh' allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <iframe width="285" height="315" src='https://www.youtube.com/embed?listType=search&list=amrinder+gill' allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <iframe width="285" height="315" src='https://www.youtube.com/embed?listType=search&list=ammy+virk' allowfullscreen></iframe>
              </div>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <iframe width="285" height="315" src='https://www.youtube.com/embed?listType=search&list=babbu+maan' allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <div class="flex flex-3">
          <div class="col">
            <h3>Contact</h3>
            <ul class="alt">
              <li><a href="#">Please write to latestpunjabisongss@gmail.com for any queries</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
        </ul>
        &copy; Kahlon.</a>. Images: <a href="https://google.com">Google</a>. Video: <a href="https://youtube.com">Youtube</a>.
      </div>
    </footer>

    <!-- Scripts -->
    <%= javascript_include_tag('jquery.min.js') %>
    <%= javascript_include_tag('jquery.scrolly.min.js') %>
    <%= javascript_include_tag('skel.min.js') %>
    <%= javascript_include_tag('util.js') %>
    <%= javascript_include_tag('main.js') %>

  </body>
</html>
